{
    "stravaSessionCookie": "your-session-cookie",
    "athleteId": "your-athlete-id",
    "ignoreAthletes": [
        "athlete-id-1",
        "athlete-id-2",
        "athlete-id-3"
    ],
    "maxActivityAgeHours": 24,
    "kudoRules": {
        "minDistance": {
            "GroupActivity": 5,
            "Run": 5,
            "TrailRun": 5,
            "Ride": 20,
            "MountainBikeRide": 20,
            "GravelRide": 20,
            "VirtualRide": 20,
            "IndoorCycling": 20,
            "AlpineSki": 10
        },
        "minTime": {
            "Workout": 45,
            "Walk": 60,
            "Hike": 60,
            "Swim": 30,
            "WeightTraining": 45
        },
        "activityNames": [
            "race|marathon|competition",
            "birthday.*run",
            "charity"
        ]
    }
}